* {
    margin: 0px;
    padding: 0px;
    font-family: 'Handlee', cursive;
    font-size: 18px;
}

header, nav, main, section, article, figure, figcaption, footer, h1, img, div, ul {
    display: block;
}

h1{
    font-size: 25px;
    text-shadow: #d46887 3px 3px 5px;
}
h2{
    font-size: 20x;
    text-shadow: rgba(246, 98, 43, 0.7) 1px 1px 2px;
}

#contenedor {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
}

/*/////////////////////
    Header section
  ////////////////////*/

header {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    padding: 15px 0px;
    background-color: transparent;
    z-index: 3;
}

header #titulo {
    float: left;
    margin: 10px 20px;
    font-size: 50px;
    color: #fff;
    text-shadow: none;
}

nav {
    float: right;
    margin: 15px 0px;
}

ul {
    margin: 15px 0px;
}

li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.recovery {
    clear: both;
}

main {
    margin: 0px auto;
}

main figure img {
    width: 100%;
}

/*/////////////////////
    sobre nosotros section
  ////////////////////*/

section {
    margin-top: 60px;
}

#nosotros article {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

#nosotros .texto {
    padding: 10% 40px;
    text-align: justify;
}

#nosotros article figure img {
    border-radius: 20px;
}

/*/////////////////////
    Nuestros chefs
////////////////////*/

#chef article{
    padding: 10px 40px;
    text-align: center;
    box-sizing: border-box;  
}

#chef article h1{
    text-align: left;
    margin-bottom: 20px;
}

#chef figure {
    display: inline-block;
    width: 30%;
    margin: 0px 1%;
    box-sizing: border-box;
    overflow: hidden;    
}

#chef article figure div{
    position: relative;
    width: 100%;
    overflow: hidden;
}

#chef article figure div:hover .redes{
    opacity: 1;
}

#chef article figure div:hover img{
    scale: 0.7;
}

#chef article figure div img{
    width: 100%;
    transition: 0.5s;
}

#chef article div{
    width: 100%;
    box-sizing: border-box;
}
#chef article div p{
    display: inline-block;
    width: 30%;
    margin: 0px 1%;    
}

#chef article figure div .redes{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-top: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.5s;
}

#chef article figure div .redes a{
    margin: 20px;
}

#chef article figure div .redes i{
    scale: 2;
}

/*/////////////////////
    Nuestro menú
////////////////////*/

#menu{
    text-align: center;
    padding: 10px 40px;
}

#menu h1{
    text-align: left;
    margin-bottom: 20px;
}

#menu .menuContainer{
    display: inline-block;
    width: 30%;
    position: relative;
    overflow: hidden;
}

.menuContainer img{
    width: 100%;
    transition: 0.5s;
}

.menuContainer .verMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    top: 0px;
    left: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}

#menu .menuContainer:hover .verMenu{
    opacity: 1;
}
#menu .menuContainer:hover img{
    scale: 1.5;
}

/*/////////////////////
    Opiniones
////////////////////*/

#opiniones{
    margin: 0px auto;
    background-image: url("../img/principal3.jpg");    
    width: 85%;
    height: 100%;
    text-align: center;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}

#opiniones article{
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*/////////////////////
    Footer
////////////////////*/

footer{
    margin-top: 60px;
    padding: 10px 40px;
    text-align: center;
}

footer article{
    display: block;
    margin: auto;
    box-sizing: border-box;
}

footer .formulario{
    float: left;
    text-align: left;
    width: 50%; 
    overflow: hidden;
    border-radius: 20px;
    padding: 20px 50px;
}

footer .redes{
    float: right;
    width: 45%;
    padding: 20px 0px;
}

footer .redes span a{
    color: red;
}

footer .redes a :not(.pix){
    color: red;
    margin: 10px 15px;
}

footer .redes a i{
    scale: 1.5;
}

input{
    border: none;
    border-bottom: solid red;
    margin-right: 40px;
    width: 100%;
}

textarea{
    margin-top: 20px;
    border:none;
    border-bottom: solid red;
    width: 200%;
}