* {
    margin: 0px;
    padding: 0px;
}

header, nav, main, section, article, figure, figcaption, footer, h1, img, div, ul {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

#contenedor {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    border: solid black;
    overflow: hidden;
}

/*/////////////////////
    Header section
  ////////////////////*/

header {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    padding: 15px 0px;
    background-color: transparent;
}

header h1 {
    float: left;
    margin: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #fff;
}

nav {
    float: right;
    margin: 15px 0px;
}

ul {
    margin: 15px 0px;
}

li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.recovery {
    clear: both;
}

main {
    margin: 0px auto;
}

main figure img {
    width: 100%;
}

/*/////////////////////
    sobre nosotros section
  ////////////////////*/

section {
    margin-top: 60px;
}

#nosotros article {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

#nosotros .texto {
    padding: 10% 40px;
    text-align: justify;
}

#nosotros article figure img {
    border-radius: 20px;
}

/*/////////////////////
    Nuestros chefs
////////////////////*/

#chef article{
    padding: 10px 40px;
    text-align: center;
    box-sizing: border-box;
}

#chef article h1{
    text-align: left;
    margin-bottom: 20px;
}

#chef figure {
    display: inline-block;
    width: 30%;
    margin: 0px 1%;
    box-sizing: border-box;
    overflow: hidden;
}

#chef article figure div{
    position: relative;
    width: 100%;
}
#chef article figure div:hover .redes{
    opacity: 1;
}

#chef article figure div img{
    width: 100%;
}

#chef article div{
    width: 100%;
    box-sizing: border-box;
}
#chef article div p{
    display: inline-block;
    width: 30%;
    margin: 0px 1%;    
}

#chef article figure div .redes{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
}

#chef article figure div .redes a{
    margin: 20px;
}

#chef article figure div .redes i{
    scale: 2;
}

/*/////////////////////
    Nuestro menú
////////////////////*/

#menu{
    text-align: center;
}

#menu .menuContainer{
    display: inline-block;
    width: 30%;
    position: relative;
}

.menuContainer img{
    width: 100%;
}

.menuContainer .verMenu{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    top: 0px;
    left: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}

#menu .menuContainer:hover .verMenu{
    opacity: 1;
}